:root{
    --blanco:#FFFFFF;
    --negro:#000000;
    --color1:#9475cb;
    --color2:#007afd7d;
    --color3:#00ff517d;
    --color4:#7b7211;
    --fuentePrincipal:'Staatliches',cursive;


}

html{
    box-sizing: border-box;

    font-size: 62.5%;
    /* scroll-snap-type: y mandatory; */
}

*,*::before, *::after{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    line-height: 1.5;
}

h1{
    font-style: var(--fuentePrincipal);
    font-size: 2.5rem;
}

p{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;
    color: var(--blanco);
}

.encabezado{
    background-color: var(--blanco);
    height: auto;
    display: flex;
    justify-content: center;
}

.titulo{
    padding: 1rem;
}

.opciones{
    background-color: var(--color1);
    padding: 2rem 0;
}

.opciones_navPrincipal{
    font-family: var(--fuentePrincipal);
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navTexto{
    margin: 0 3rem;
}



.seccion{
    background-image: url(../imgs/Baground1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    position: relative;
    background-position: center ;

    display: flex;
    justify-content: center;
}


.grid{
    padding: 5rem 0 5rem 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem 6rem;  
}

.grid_pwb::after {
    content: '';
    grid-row: 2; /* Especifica que este pseudo-elemento está en la primera fila */
    grid-column: 1 / -1; /* Ocupa todas las columnas en la primera fila */
    border-bottom: 4px solid #b4a200; /* Ajusta el estilo y color del borde según sea necesario */
  }

@media (min-width:768px){
    .grid{
        grid-template-columns: repeat(3,1fr);
    }
}


.contenedor{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem;
    box-shadow: 0 0 15px var(--negro);
    transition: transform 0.3s;
    max-width: 35rem;
}

.contenedor:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1px var(--negro);
}

.contenedor_imagen{
    max-width: 100%;
}

.contenedor_informacion{
    display: flex;
    justify-content: center;
}

.contenedor_texto{
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    color: var(--negro);
}


.footer{
    background-color: var(--negro);
    padding: 0.5rem;
}
.footer__texto{
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
    color: var(--blanco);
}


/* POWER BI */

.mensaje{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-style: italic;
}
.seccion_pwb{
    background-image: url(../imgs/Baground2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    position: relative;
    background-position: center ;

    display: flex;
    justify-content: center;
}

.opciones_PWB{
    background-color: var(--color4);
    padding: 2rem 0;
}

#contenedor-imagen-maximizada {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow-y: auto;
}

#contenedor-imagen-maximizada img {
    display: block;
    margin: auto;
    padding: 6rem 0;
    max-width: 100%;
    max-height: 100%;
}

#boton-restaurar {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #3e416884;
    color: #fff;
    border: none;
    cursor: pointer;
}